/* App.css */
.attendance-app {
  font-family: "Times New Roman", Times, serif, sans-serif;
  text-align: center;
  margin: 10px;
  background: #fafafa;
  color: #000000;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.attendance-app {
  background-image: url("background.jpeg");
  background-size: 11%;
  background-repeat: no-repeat;
  background-position: top right;
}

.student-list {
  width: 60%;
  padding: 20px;
  background-color: rgb(242, 242, 242);
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.student-item {
  list-style: none;
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.403);
  transition: background-color 0.3s ease-in-out;
}

.student-item:hover {
  background-color: rgba(255, 255, 255, 1);
}

.attended {
  background-color: #d9f7d6;
}

.attendance-record {
  width: 60%;
  padding: 20px;
  background-color: rgb(242, 242, 242);
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h1 {
  margin-bottom: 20px;
  margin-top: 50px;
  font-size: 36px;
}

h2 {
  margin-bottom: 10px;
}

ul {
  padding: 0;
}

/* New classes for styling */
.student-name {
  flex: 1;
  text-align: left;
  padding-right: 10px;
}

.student-actions {
  display: flex;
  align-items: center;
}

button {
  padding: 5px 10px;
  background-color: #cb3434;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  margin-right: 5px;
}

button:hover {
  background-color: #ef3837;
}
